.filter.js-filter
    .filter__btns
        a(href="#").btn.btn_primary.js-filter-show Показать результат
        a(href="#").btn.btn_muted.js-filter-reset Очистить фильтр
    .filter-section
        .filter-section__header Производитель
        .filter-section__props
            -var checkbox = ['Canon','Fujifilm','Nikon','Panasonic','Lecia','Olympus','Pentax','Sigma','Geleral Electrics','Zenit'];
            -for(i in checkbox)
                .filter-section__prop: +checkbox-label(checkbox[i])
        