@import "_settings/_mixins";
@import "_settings/_config";
@import "_settings/_reset";
@import "_bootstrap-grid";
@import "_fonts";
@import "../fonts/icomoon/style.css";
@import "_settings/icon-set";
@include sprites($spritesheet-sprites);

html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    background: $white;
    font-family: $ff-primary;
    margin: 0;
    padding: 0;
    min-width: 1280px;
}


/*-------------------------------------------------*/
/*  elements
/*-------------------------------------------------*/

.icm{
    display: inline-block;
}

.ns{
    list-style: none;
    padding: 0;
    margin: 0;
}

.off-link{
    color: inherit;
    text-decoration: none;
}

.btn{
  text-decoration: none;
  
  transition: background .3s;
  display: inline-flex;
  text-align: center;
  padding: 1.09rem 1.55rem;
  line-height: 1;
  cursor: pointer;
  align-items: center;
  font-size: 1.4rem;
  border:none;
  text-align: center;
  justify-content: center;
  .icm{
      margin-right: 1rem;
      font-size: em(19,14);
      margin-left: -.4rem;
  }
  @each $name, $color in $button-colors{
    &_#{$name}{
      background: $color;
      @if(lightness($color)<50%){
        color: $white;
      }@else{
          color: black;
      }
      &:hover{
        @if(hue($color) > 0) {
            background: hsl(hue($color), 87%, 29%);
        }@else{
            background: hsl(0, 0%, 88%);
        }
      }
    }
  }
}

.bg{
    @each $name, $color in $backgrounds-colors{
        &-#{$name}{
            background: $color;
        }
    }
}

.text{
    @each $name, $color in $text-colors{
        &-#{$name}{
            color: $color;
        }
    }
}

/*-------------------------------------------------*/
/*  author styles
/*-------------------------------------------------*/

/*-- START: product-tile --*/
.product-tile{
    background: $white;
    padding: 2rem 1.5rem 3.1rem 3.4rem;
    &__code{
        color: $muted300;
        text-align: right;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        font-weight: 300;
    }
    &__avail{
        
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        &_is-avail{
            color: $secondary;
        }
        .icm{
            font-size: 0.7em;
            margin-right: .8rem;
        }
    }
    &__preview{
        text-align: center;
        margin-bottom: 2.2rem;
    }
    &__name{
        @extend .off-link;
        font-size: 1.8rem;
        margin-bottom: 1.7rem;
        display: block;
    }
    &__image{
        max-height: 100%;
        max-width: 100%;       
    }
    &__footer{
        margin-top: 6rem;
        display: flex;
        align-items: center;
    }
    &__btns{
        margin-left:auto;
    }
    &__btn{
        border: none;
        background:none;
        padding: 0.5rem;
        color: $muted200;
        font-size: 1.7rem;
        transition: color .3s;
        cursor: pointer;
        &:hover{
            color: $muted500;
        }
        .icon-comp{
            transition: filter .3s;
            &:hover{
                filter: brightness(0);
            }
        }
    }
}
/*-- END: product-tile --*/

/*-- START: product-props --*/
.product-props{
    @extend .ns;
    font-size: 1.2rem;
    line-height: em(22,12);
    font-weight: 300;
}
/*-- END: product-props --*/

/*-- START: filter --*/
.filter{
    background: $white;
    padding: 3rem;
    font-size: 1.4rem;
    color: $muted500;
    font-weight: 300;
    &__btns{
        display: flex;
        flex-direction: column;
        .btn:not(:first-child){
            margin-top: 1rem;
        }
    }
    &-section{
        &:not(:first-child){
            margin-top: 2.5rem;
        }
        &__header{
            font-size: 1.7rem;
            margin-bottom: 1.5rem;
        }
        &__props{
            display: flex;
            flex-wrap: wrap;
        }
        &__prop{
            flex: 1 1 50%;
            min-width: 50%;
            margin-bottom: .7rem;
            padding-right: 1rem;
        }
    }
}
/*-- END: filter --*/

/*-- START: checkbox --*/
.checkbox{
    cursor: pointer;
    display: flex;
    
    &__input{
        position: absolute;
        visibility: hidden;
        margin: 0;
    }
    &__ico{
        flex: 0 0 1.4rem;
        min-width: 1.4rem;
        height: 1.4rem;
        background: $primary;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.32);
        display: block;
        margin-top: 0.13em;
        &:before{
            content: '';
            font-family: icomoon;
            color: $white;
            font-size: 0.4em;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: 0 0 .5em rgba(black,.3);
            opacity: 0;
            transition: opacity .3s;
        }
    }
    &__input:checked + &__ico{
       &:before{
           opacity: 1;
       }
    }
    &__input:checked + &__ico + &__title{
       color: $primary;
    }
    &__title{
        margin-left: 1rem;
    }
}
/*-- END: checkbox --*/
